<!--
<h2>My Heroes</h2>
  <ul class="heroes">
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
      <span class="hero-element">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </span>
    </li>
  </ul>
!-->
<!-- <div class="col-md-4 col-md-offset-2">
  <ul class="bidding">
    <li *ngFor="#deal of deals" (click)="onSelect(deal)">
      <span class="deal-element">
        <span>{{deal.bid_EndTime | makeKoreanDateTime}}</span>
        <span class="badge">{{deal.bid_Price | number}}</span>
      </span>
    </li>
  </ul>
</div> -->

<div id="wrapper" class="col-md-8 col-md-offset-2">
  <div id="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">거래(진행)</h1>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-8">
            <div *ngFor="#deal of deals" class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-1">
                            <i class="fa fa-briefcase fa-4x"></i>
                        </div>
                        <div class="col-xs-2">
                            <span class="huge" style="font-weight: bold;">거래 종료 시간</span>
                            <div>{{deal.bid_EndTime | makeKoreanDateTime}}</div>
                            <div>{{getRemainingBidTime(deal.bid_EndTime | makeKoreanDateTime)}}</div>
                        </div>
                        <div class="col-xs-6"> <!--text-right!-->
                            <div class="huge" style="font-weight: bold;">소비자 희망 가격</div>
                            <div>{{deal.bid_Price | number}}</div>
                        </div>
                    </div>
                </div>
                <a (click)="onSelect(deal)">
                    <div class="panel-footer">
                        <span class="pull-left">See Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">거래 리스트</div>
            <div class="panel-body">
              <ul class="bidding">
                <li *ngFor="#deal of deals">
                  <h3 style="font-weight: bold">
                    <span class="label label-primary">거래 종료 시간</span>
                     {{getRemainingBidTime(deal.bid_EndTime | makeKoreanDateTime)}}&nbsp;
                    <span class="label label-primary">소비자 희망 가격</span>
                     &#8361;{{deal.bid_Price | number}}&nbsp;&nbsp;
                    <button class="btn btn-info pull-right" (click)="onSelect(deal)">See details</button>
                  </h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>
<!--
<h3>
  <a href="#" class="list-group-item" [routerLink]="['Deal Details', {hotel_ID: hotel_ID, booking_Num: deal.booking_Num}]">{{deal.bid_EndTime | makeKoreanDateTime}} <span class="badge">{{deal.bid_Price | number}}</span></a>
</h3>
!-->
