<!-- <div class="container" >
  <div class="panel-body">
    <div class="row">
      <div class="input-field col s12">
        <label for="hotel_ID">아이디</label><br>
        <input [(ngModel)]="hotel.hotel_ID" id="hotel_ID"
              type="text">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="hotel_PW">비밀번호</label><br>
        <input [(ngModel)]="hotel.hotel_PW" id="hotel_PW"
            type="password" class="validate">
      </div>
    </div>
    <span>{{errorMsg}}</span>
    <button (click)="login()" class="btn btn-primary" type="submit" name="action">Login</button>
    <button (click)="signup()" class="btn btn-primary" type="submit" name="action">Signup</button>
  </div>
</div> -->

<!-- <div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Sign in</h2>
    <label for="hotel_ID" class="sr-only">Id:</label>
    <input [(ngModel)]="hotel.hotel_ID" type="text" id="hotel_ID" class="form-control" placeholder="아이디를 입력해주세요" required autofocus>
    <label for="hotel_PW" class="sr-only">Passwrod:</label>
    <input [(ngModel)]="hotel.hotel_PW" type="password" id="hotel_PW" class="validate form-control" placeholder="비밀번호를 입력해주세요" required>
    <button (click)="login()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Sign in</button>
    <button (click)="signup()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Sign up</button>
  </form>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="hotel_ID" class="sr-only">Id:</label>
                                <input [(ngModel)]="hotel.hotel_ID" class="form-control" placeholder="Id" name="hotel_ID" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="hotel_PW" class="sr-only">Passwrod:</label>
                                <input [(ngModel)]="hotel.hotel_PW" class="form-control" placeholder="Password" name="pwd" type="password" value="">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button (click)="login()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Login</button>

                        </fieldset>
                    </form>
                    <button (click)="signup()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Signup</button>
                </div>
            </div>
        </div>
    </div>
</div>
