<!-- <form (ngSubmit)="formSubmit()">
  <div class="form-group">
    <label for="uname">Username:</label>
    <input type="text" id="uname" class="form-control" [(ngModel)]="data.hotel_ID">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" class="form-control" [(ngModel)]="data.hotel_PW">
  </div>
  <div class="form-group">
    <label for="hotelname">Hotel Name:</label>
    <input type="text" id="hotelname" class="form-control" [(ngModel)]="data.hotel_Name">
  </div>
  <div class="form-group">
    <label for="address">Hotel Adderss:</label>
    <input type="text" id="address" class="form-control" [(ngModel)]="data.hotel_Address">
  </div>
  <div class="form-group">
    <label for="mainarea">MainArea:</label>
    <input type="text" id="mainarea" class="form-control" [(ngModel)]="data.mainArea_Name">
  </div>
  <div class="form-group">
    <label for="subarea">SubArea:</label>
    <input type="text" id="subarea" class="form-control" [(ngModel)]="data.subArea_Name">
  </div>
  <div class="form-group">
    <label for="rate">Hotel Rate:</label>
    <input type="text" id="rate" class="form-control" [(ngModel)]="data.hotel_Rate">
  </div>
  <div class="form-group">
    <label for="mgrname">Manager Name:</label>
    <input type="text" id="mgrname" class="form-control" [(ngModel)]="data.mgr_Name">
  </div>
  <button type="submit" class="btn-default btn">Submit</button>
</form> -->

<form (ngSubmit)="formSubmit()">
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">Username</label>
          <div class="controls">
            <input type="text" id="uname" name="username" placeholder="" class="form-control input-lg" [(ngModel)]="data.hotel_ID" required autofocus>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="pwd">Password</label>
          <div class="controls">
            <input type="password" id="pwd" name="password" placeholder="" class="form-control input-lg" [(ngModel)]="data.hotel_PW" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="hotelname">Hotel Name</label>
          <div class="controls">
            <input type="text" id="hotelname" name="hotelname" placeholder="" class="form-control input-lg" [(ngModel)]="data.hotel_Name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="address">Hotel Address</label>
          <div class="controls">
            <input type="text" id="address" name="address" placeholder="" class="form-control input-lg" [(ngModel)]="data.hotel_Address" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="mainarea">Hotel Mainarea</label>
          <div class="controls">
            <input type="text" id="mainarea" name="mainarea" placeholder="" class="form-control input-lg" [(ngModel)]="data.mainArea_Name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="username">Hotel Subarea</label>
          <div class="controls">
            <input type="text" id="subarea" name="subarea" placeholder="" class="form-control input-lg" [(ngModel)]="data.subArea_Name" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="rate">Hotel Rate</label>
          <div class="controls">
            <input type="text" id="rate" name="rate" placeholder="" class="form-control input-lg" [(ngModel)]="data.hotel_Rate" required>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="mgrname">Manager Name</label>
          <div class="controls">
            <input type="text" id="mgrname" name="mgrname" placeholder="" class="form-control input-lg" [(ngModel)]="data.mgr_Name" required>
            <p class="help-block"></p>
          </div>
        </div>
        <button type="submit" class="btn btn-info btn">Register</button>
    </div>
  </div>
  </div>
</form>

<!-- <div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">로그인을 해주세요</h2>
    <label for="hotel_ID" class="sr-only">Id:</label>
    <input [(ngModel)]="hotel.hotel_ID" type="text" id="hotel_ID" class="form-control" placeholder="아이디를 입력해주세요" required autofocus>
    <label for="hotel_PW" class="sr-only">Passwrod:</label>
    <input [(ngModel)]="hotel.hotel_PW" type="password" id="hotel_PW" class="validate form-control" placeholder="비밀번호를 입력해주세요" required>
    <button (click)="login()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Sign in</button>
    <button (click)="signup()" class="btn btn-lg btn-info btn-block" type="submit" name="action">Sign up</button>
  </form>
</div> -->
